<header>
    <h1 class="center">Mina kurser</h1>

    <p>Detta är mina kurser:</p>

    <nav>
        <a href="index.html">Alla kurser</a>
    </nav>
</header>

<main>
    <div class="search-container">
        <label>Sök kurs: <input type="text" id="search" placeholder="kurskod eller namn...">
        </label>
    </div>
    <div class ="add-course">
        <form class="add-course-form">
            <label>Lägg till kurs: </label>
            <input type="text" id="coursecode" placeholder="Kurskod">
            <select id="grades"></select>
            <span class="button add" id="addCourse">lägg till</span> <!-- available in the JS as addUser -->
        </form>

        
    </div>
    <table>
        <thead>
            <tr>
                <td>Kurskod</td>
                <td class="course-name">Namn</td>
                <td class="center">Mitt betyg</td>
                <td></td>
            </tr>
        </thead>
        <tbody id="courses_table" >
            <tr *ngFor="let myCourse of myCourses">
                <td>{{myCourse.courseCode}}</td>
                <td>{{myCourse.name}}</td>
                <td >
                    <select #grade (change)="changeGrade(myCourse.courseCode, grade.value.toUpperCase())" > 
                        <option id="asd" *ngFor="let grade of grades" [selected]="grade ">
                            {{grade}}
                        </option>
                    </select>
                </td>
                <td>
                    <button (click)="deleteCourse(myCourse.courseCode)" >
                        Radera
                    </button>
                </td>

            </tr>
        </tbody>
    </table>
</main>

<footer>
    <p class="center">
        Denna sida läser data från filen
        <a href="https://jasv2000-lab2-backend-dt190g.azurewebsites.net/api/courses/my" target="_blank">azurewebsites.net/api/courses/my</a>.
    </p>
</footer>
